@layout('layouts/main')

@section('content')

<main>
  <div>
    <h1 class="title"> The Campfire! </h1>
    <p class="subtitle">
      Um lugar para compatilhar seus melhores momentos.
    </p>
    <p class="subtitle">
      Faça seus clipes viralizarem e curta com seus amigos!
    </p>
  </div>
</main>

@end

