@layout('layouts/main')

@section('content')

<main>
  <div>
    <h1 class="title"> Welcome To The Campfire! </h1>
    <p class="subtitle">
      Um lugar para descansar e compatilhar suas experiências com outros guerreiros!
    </p>
  </div>
</main>

@end

