@layout('layouts/main')

@section('content')
  <h1>Deletar Usuario</h1>
  <p>Tem certeza que deseja deletar esse usuario?</p>
  <form action="{{ route('users.destroy', { username: user.username }, { qs: { _method: 'DELETE' }}) }}" method="POST">
    <button type="submit">Deletar</button>
  </form>
@end
