@layout('layouts/main')

@section('content')
  <div>
    <label>
      <div>
      Foto de Perfil:
      </div>
      <img src={{user.avatar}}>
    </label>

    <br>
    <label>
      Email:
    </label>
    <li>
      {{ user.email }}
    </li>
    <label>
      Username:
    </label>
    <li>
      {{ user.username }}
    </li>
  </div>
@end