@layout('layouts/main')

@section('content')
  <div>
    <label>
      Email:
    </label>
    <li>
      {{ user.email }}
    </li>
    <label>
      Username:
    </label>
    <li>
      {{ user.username }}
    </li>
    <label>
      Password:
    </label>
    <li>
      {{ user.password }}
    </li>
  </div>
@end