<html>

<head>
  <title>The Campfire</title>
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
</head>

<body>
  <nav>
    <div>
      The Campfire Network
    </div>

    <div>
      <button  class="escreva">
        Compartilhar
      </button>
      <button class = "login">
        Login
      </button>
      <button class = "cadastro">
        Cadastro
      </button>

      <a href="{{ route('users.index') }}">Criar Usuários</a>
    </div>
  </nav>

  @!section('content')
</body>

</html>