@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

a {
  color: #5a67d8;
  background-color: transparent;
  text-decoration: none;
}	

